<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f199eabb-f3d0-4efe-bb9f-8cdd63eaadc7/resourcegroups/peppergroup/providers/Microsoft.Web/sites/PepperBooks20210527123050</ResourceId>
    <ResourceGroup>peppergroup</ResourceGroup>
    <ApiResourceId>/subscriptions/f199eabb-f3d0-4efe-bb9f-8cdd63eaadc7/resourceGroups/peppergroup/providers/Microsoft.ApiManagement/service/PepperBooksapi/apis/PepperBooks</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pepperbooks20210527123050.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>6c3ba5ee-ad3a-4e40-b485-70197beefb20</ProjectGuid>
    <MSDeployServiceURL>pepperbooks20210527123050.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PepperBooks20210527123050</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PepperBooks20210527123050</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>